:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --secondary-color: #757575;
    --accent-color: #212121;
    --effect-color: #2196F3;
    --button-color-effect: #188CE8;
    --text-color-on-dark-fone: #FFFFFF;
    --dark-fone-banner: #2F303A;
    --contact-color-futer: rgba(255, 255, 255, 0.6);
    --button-color: #F5F4FA;;
}

body {
    font-family: var(--primary-font);
    color: var(--accent-color);
    letter-spacing: 0.03em;
}

button {
    cursor: pointer;
    border: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

/*HEDER*/

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo-white-item {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--effect-color);
}

.logo-dark-item {
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--text-color-on-dark-fone);
}

.contact-info-section {
    background-color: var(--dark-fone-banner);
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--effect-color);
}


.contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.contact-item:hover,
.contact-item:focus {
    color: var(--effect-color);
}

/* HERO */

.banner {
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    background-color: var(--dark-fone-banner);
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color-on-dark-fone);
}

.modal-btn {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--effect-color);
    color:var(--text-color-on-dark-fone);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--button-color-effect);
}

.modal-filter-btn {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: var(--button-color);
    color:var(--accent-color);
}

.modal-filter-btn:hover,
.modal-filter-btn:focus {
    background-color: var(--button-color-effect);
    color: var(--text-color-on-dark-fone);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.hero-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--accent-color);

}

.hero-item {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-color);
}

.hero-title-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--accent-color);
}

.hero-name-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--accent-color);
}

.hero-profession-list {
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-color);
}

.hero-content-list{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--accent-color);
}

.hero-content-item {
    font-size: 16px;
    line-height: 1.88;
    color:var(--secondary-color);
}

/* ==================== CONTACT INFO ==================== */
.contact-list-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    background-color: var(--dark-fone-banner);
    color: var(--contact-color-futer);
  }
  
  .contact-list-link:hover,
  .contact-list-link:focus{
    color: var(--effect-color)
  }

  .contact-list-address:hover,
  .contact-list-address:focus {
    color: var(--effect-color);
  }
  
  .contact-list-address {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    background-color: var(--dark-fone-banner);
    color: var(--text-color-on-dark-fone);
  }
  /* ==================== /CONTACT INFO ==================== */